h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

#index-view {
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  width: 400px;
  overflow: auto;
  border: 5px solid black;
  border-radius: 10px;
  font-size: 2.5rem;
}

#eats-view {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-height: 60%;
  width: 600px;
  overflow: auto;
  border: 5px solid black;
  border-radius: 10px;
}

#eats-view ul {
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0;
}

#eats-view ul li {
  margin-right: auto;
  margin-left: auto; 
  padding: 10px;
}

.single-restaurant {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.newRestaurantForm {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 10px;
  width: 400px;
  padding: 10px;
}

.editBtn, .deleteBtn {
  margin-left: 5px;
  margin-right: 5px;
}
